---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPostCard from '../../components/BlogPostCard.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout>
	<main>
		<div class="pb-6 transition-opacity ease-in-out animate-fade-in-first">
			The blog where I ramble about whatever I'm into at the moment (mainly music, movies, and games). Maybe something education every once in a while. sdsdsdsdsdsdsdsasdsadsaskjbdskjfbdaskjfbkasdbf
		</div>
		<div class="transition-opacity ease-in-out animate-fade-in-second">
			{
				posts.map((post) => (
					<BlogPostCard slug={post.slug} title={post.data.title} pubDate={post.data.pubDate} description={post.data.description} heroImage={post.data.heroImage}></BlogPostCard>
				))
			}
		</div>
	</main>
</BaseLayout>