---
import FormattedDate from "./FormattedDate.astro";

const {slug, title, pubDate, description, heroImage, tag, isLast} = Astro.props
---

<div class={`flex sm:flex-row flex-col-reverse gap-2 sm:gap-8 pb-4 pt-4 ${isLast ? "border-b-0" : 'border-b-2'} border-darkblue-800 justify-between`}>
  <div>
    <a class="w-min" href=`/blog/${tag}/${slug}`>
      <h3 class="text-xl font-semibold pb-1 hover:text-lfred-400 hover:pl-2 hover:transition">{title}</h3>
    </a>
    <p class="w-full">{description}</p>
  </div>
  
  <div class="flex sm:flex-col flex-row sm:gap-1 gap-2 text-sm whitespace-nowrap sm:items-end">
    <FormattedDate date={pubDate}></FormattedDate>
    <p class="w-min text-zinc-400">{tag}</p>
  </div>
</div>